@import '../components/NavBar/styles.scss';
@import '../components/CartWidget/styles.scss';
@import '../components/ItemListContainer/estilos.scss';
@import '../components/ModalCarrito/modal.scss';
* {
  margin: 0 auto;
}
.nb_container{
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px 0 15px 0;
  background: antiquewhite;
}
.menu {
  display: block;
  list-style-type: none;
  padding-left: 2rem;
  li {
    padding-left: 2rem;
    display: inline;
  }
  a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
  }
}


.Product_Container,
.item-product-container,
.item-product-carrito-container {
  margin-top: 100px;
}