@import '../components/NavBar/styles.scss';


.nb_container{
 
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
  }
}
